* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

ul, ol, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

img, video {
  vertical-align: middle;
}

input, select, textarea {
  outline: 0;
  border: none;
}

textarea {
  resize: none;
}

table {
  border-collapse: collapse;
}

body {
  line-height: 1;
  font-size: 13px;
}

button {
  border: none;
}

input {
  outline: 0;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#container .center {
  margin-top: 100px;
  width: 700px;
  height: 750px;
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container .center .box {
  width: 580px;
  height: 550px;
}
#container .center .box h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 60px;
}
#container .center .box p {
  font-size: 20px;
  margin-bottom: 50px;
  font-weight: bold;
}
#container .center .box form > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  position: relative;
}
#container .center .box form > div label {
  font-size: 15px;
  line-height: 60px;
}
#container .center .box form > div input {
  border-bottom: 1px solid #e5e5e5;
  width: 435px;
  height: 60px;
}
#container .center .box form > div span {
  display: block;
  position: absolute;
  top: 75px;
  left: 145px;
}
#container .center .box form button {
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  font-size: 15px;
  background-color: #dadde2;
}